<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cesoft.organizate"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

	<!-- allowBackup : Quiero o no que se puedan sacar los datos? -->
	<application
		android:name="com.orm.SugarApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="DATABASE"
			android:value="cestodo.db"/>
		<meta-data
			android:name="VERSION"
			android:value="1"/>
		<meta-data
			android:name="QUERY_LOG"
			android:value="true"/>
		<meta-data
			android:name="DOMAIN_PACKAGE_NAME"
			android:value="com.cesoft.organizate"/>

		<activity android:name=".ActMain">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.cesoft.organizate.ActEdit"
			android:label="@string/editar"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name="com.cesoft.organizate.ActAvisoEdit"
			android:label="@string/editar_aviso"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name="com.cesoft.organizate.ActAvisoGeoEdit"
			android:label="@string/editar_aviso_geo"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name="com.cesoft.organizate.ActAvisoDlg"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Dialog">
		</activity>
		<activity
			android:name="com.cesoft.organizate.ActSplash"
			android:theme="@style/Theme.Transparent">
		</activity>

		<receiver android:name="com.cesoft.organizate.CesWidgetProvider" >
			<intent-filter >
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.cesoftware.cestodo1.CesWidgetProvider.ACTION_WIDGET_SHOWAPP"/>
        	</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
		</receiver>
		<!-- activity android:name=".CesWidgetConfig">
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
    		</intent-filter>
		</activity -->

		<service android:name="com.cesoft.organizate.CesServiceUpdateWidget" android:exported="false"/>
		<receiver android:name="com.cesoft.organizate.CesOnSysBoot" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<service android:name="com.cesoft.organizate.CesServiceAviso" android:exported="false"/>

		<service android:name="com.cesoft.organizate.CesServiceAvisoGeo" android:exported="false" />
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_key"/>

	</application>

</manifest>
